{
    "env": {
      "browser": true,
        "jest": true,
        "node":true
    
    },
    "parserOptions": {
      "ecmaVersion": 2017
    },
    "extends": "airbnb-base",
    "rules":{
        "linebreak-style": 0,
        "no-console": "off",
        "no-param-reassign": 0,
        "code": 100,
        "prefer-destructuring": ["error", {
          "VariableDeclarator": {
            "array": false,
            "object": false
          },
          "AssignmentExpression": {
            "array": false,
            "object": false
          }
        }, {
          "enforceForRenamedProperties": false
        }]
      }
      
  }
  