{
    "env": {
      "browser": true,
        "jest": true,
        "node":true
    
    },
    "parserOptions": {
      "ecmaVersion": 2018
    },
    "extends": "airbnb-base",
    "rules":{
        "linebreak-style": 0,
        "no-console": "off",
        "no-trailing-spaces": [2, { "skipBlankLines": false }],
        "quotes":[2,"single"],
        "strict": 0
      }
    
  }
  